body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main, .about, .projects, .blog, .contact {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0px;
}

.main h2, .about h2, .projects h2, .blog h2, .contact h2 {
  margin: 0;
}

/* ------------ MAIN ------------ */

.main {
  overflow-x: hidden;
  background: linear-gradient(-45deg, #AC3B61, #a5969c, #123C69, #eca88b);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#intro p {
  font-size: 36px;
  width: 50%;
  text-align: center;
  text-shadow: 2px 2px black;

}

.bold {
  font-weight: bold;
}

.color-change {
  color: #ff5277;
}

#intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: 20;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------ ABOUT ------------ */

.about {
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 5px solid lightblue;
}

.about h2 {
  display:flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  font-size: 54px;

}

.about div {
  text-align: center;
  box-sizing: border-box;
  margin: 0 25px;
}

.about-portrait, .about-details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.about-portrait {
  min-width: 400px;
  width: 35vw;
}

.about-details {
  flex-wrap: wrap;
  min-width: 400px;
  width: 35vw;
}

.about div p {
  font-size: 20px;
  text-align: left;
  width: 100%;
}

.about div p span {
  font-size: 30px;
  font-weight: bold;
}

.about img {
  width: 100%;
  border-radius: 50px;
  border: 2px solid lightblue;
  
}

/* ------------ SKILLS ------------ */

.skills {
  background-color: #e7e7e7;
  display: flex;
  flex-wrap: wrap;
}

.skills h2 {
  width: 100%;
  text-align: center;
}

.skills > div {
  text-align: center;
  flex: 0 50%;
  box-sizing:border-box;
  margin: 0 auto;
}

/* ------------ PROJECTS ------------ */

.projects {
    background-color: #e6e3e1;
}

.projects h2 {
  text-align: center;
}

.cards {
  max-width: 1000px;
  margin: 0px auto;
  display: grid;
  /* columns will automatically break when each one gets below 300px. */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  background-color: rgb(116, 199, 226);
  color: white;
  padding: 1rem;
  height: 12rem;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 15px;
}

/* ------------ PROJECT CARDS ------------ */

.projects .card {
    /* position: relative; */
    margin: 0;
    padding: 0;
}



#tsumego-solver {
    background-image: url("./images/tsumego-solver.png") !important;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100%;
    width: 100%;
}

#learn-hwatu {
    background-image: url("./images/learn-hwatu.png") !important;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100%;
    width: 100%;
}

.rotate-inner-back {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s linear;
}

.rotate:hover .rotate-inner-front {
    display: none;
}

.rotate:hover .rotate-inner-back {
    visibility: visible;
    opacity: 1;
}


/* .default {
    z-index: 10;
} */
/* 
.hide {
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
} */
/* 
.projects .card:hover {
    display: none !important;
    -webkit-transform: rotatex(360deg);
     -moz-transform: rotatex(360deg);
      -ms-transform: rotatex(360deg);
          transform: rotatex(360deg);
} */

/* .default:hover .hide {
    opacity: 1;
}

.default .hide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} */


#tsumego-solver .rotate-inner-front,  #tsumego-solver .rotate-inner-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
} 



/* ------------ BLOG ------------ */

.blog {
  background-color: #e7e7e7;
}

.blog h2 {
  text-align: center;
}

.blog .cards {
  grid-gap: 2rem;
  position: relative;
}

.blog .card:hover {
  background-color: rgb(70, 183, 221);
}

.blog .card {
  height: 18rem;
  text-align: left;
  position: relative;
  padding: 10px;
  border-radius: 20px;
}

.card a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.blog .card h3 {
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0px;
}

.blog .card p {
  margin-bottom: 5px;
  font-size: 12px;
}

.blog span {
  display: inline-block;
  font-size: 10px;
  margin-right: 5px;
  padding: 3px 8px;
  background-color: rgb(104, 177, 250);
  border-radius: 25px;
}

.categories {
  position: absolute;
  bottom: 10px;
}
/* ------------ CONTACT ------------ */

.contact {
  background-color: lightpink;
}

/* ------------ ICONS ------------ */

.icons {
  display: inline-block;
  padding: 10px 20px 10px 20px;
}

.icons i {
  font-size: 35px;
}

.icons p {
  font-size: 12px;
	padding: 0;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .about > div {
    width: 100%;
    min-width: 0;

  }

}